<% if @logs.empty? %>
  <div class="page-header">
    <h1>No Errors Logged Yet</h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Logged Errors</h1>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="thead-default">
      <tr>
        <th>Shared Log Id</th>
        <th>Error Received</th>
        <th>Method requested</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td>
            <a href=<%= log.shared_log_id %>>
              <%= log.shared_log_id %>
            </a>
          </td>
          <td><%= log.received %></td>
          <td><%= log.method %></td>
          <td class="long"><%= log.info %></td>
        </tr>
      <% end %>
    </tbody>
<% end %>
