<div class="page-header">
  <h1>Logs for: <%= @id %></h1>
</div>

<% unless @errors.empty? %>
  <h2>
    Errors
  </h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-default">
      <tr>
        <th>Error Received</th>
        <th>Method requested</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      <% @errors.each do |error| %>
        <tr>
          <td><%= error.received %></td>
          <td><%= error.method   %></td>
          <td class="long"><%= error.info     %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>
    No errors for this log
  </h2>
<% end %>

<% unless @requests.empty? %>
  <h2>
    Requests
  </h2>
  <table class="table table-bordered">
    <th>Request Received</th>
    <th>Method requested</th>
    <th>Information</th>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.received %></td>
        <td><%= request.method   %></td>
        <td class="long"><%= request.info     %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>
    No requests for this log
  </h2>
<% end %>
